.gradle
build/classes
build/generated
build/reports
build/test-results
build/tmp
build/bootJarMainClassName
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.bak
.idea/